@model WebApplication14.ViewModels.LoginViewModels



<h2>Вход на форму</h2>

<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="None"></div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
  
    
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>